<div class="site-section bg-lightx">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-md-5">
                <div class="subscribe-1 ">
                    <h2>Bloglar için bültenimize abone olun</h2>
                    <p class="mb-5">Umarım bu mesaj, enerjik bir gün geçirdiğiniz bir anda ulaşıyordur. Sizi bilgilendirmek ve eğlendirmek için burada! Eğer bizimle birlikte olup, en güncel haberleri ve ilginç içerikleri kaçırmak istemiyorsanız, hemen mail bültenimize abone olun!</p>
                    <form method="post" class="d-flex">
                        <input type="text" class="form-control" placeholder="Mail Adresinizi Girin" name="Mail">
                        <input type="submit" class="btn btn-primary" value="Abone Ol">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

